@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600italic,600,700,700italic,900,900italic);
/*Parital*/
.btn-view, .btn-booking {
  background-color: #526586;
  color: #FFF;
  margin-top: 0.7em;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .btn-view:hover, .btn-booking:hover {
    color: #FFF;
    background-color: #344a71; }

.btn-booking {
  border-radius: 0;
  width: 100%;
  margin-top: 30px; }

.btn-compare {
  border: 2px solid #000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #333;
  font-size: 10px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .btn-compare:hover {
    color: #FFF;
    background-color: #344a71;
    border-color: #344a71; }

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none; }

ul.tabs li {
  color: #313131;
  position: relative;
  background: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%; }
  ul.tabs li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #344a71;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  ul.tabs li:hover, ul.tabs li.current {
    color: #64686A; }
  ul.tabs li:hover:before, ul.tabs li.current:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); }

.tab-content {
  display: none;
  border-left: 1px solid #ccc;
  padding: 15px; }

.tab-content.current {
  display: inherit; }

.detailBox {
  width: 100%;
  border: 1px solid #bbb;
  margin-top: 30px; }

.titleBox {
  background-color: #fdfdfd;
  padding: 10px; }

.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block; }

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb; }

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
  width: 80%; }

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  width: 18%; }

.actionBox .form-group * {
  width: 100%; }

.taskDescription {
  margin-top: 10px 0; }

.commentList {
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow: auto; }

.commentList li {
  margin: 0;
  margin-top: 10px; }

.commentList li > div {
  display: table-cell; }

.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left; }

.commenterImage img {
  width: 100%;
  border-radius: 50%; }

.commentText p {
  margin: 0; }

.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px; }

.actionBox {
  border-top: 1px dotted #bbb;
  padding: 10px; }

/*vendor*/
.camera_thumbs_cont {
  background-color: #FFF; }

.ui-datepicker,
.ui-datepicker .ui-datepicker-header {
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.ui-datepicker {
  background: #fff;
  border-width: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 320px;
  border-radius: 0; }

.ui-datepicker .ui-datepicker-header {
  background-color: #3f5f91;
  border-width: 0;
  border-radius: 0;
  background-image: none; }

.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: both;
  line-height: 50px; }

.ui-datepicker .ui-datepicker-header .ui-corner-all {
  position: static;
  display: block;
  height: inherit;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-width: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.ui-datepicker .ui-datepicker-header .ui-corner-all .ui-icon {
  background-image: none;
  color: #fff;
  text-indent: 0;
  position: static;
  margin: 0;
  display: inline; }

.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-prev {
  float: left; }

.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-next {
  float: right; }

.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-state-hover {
  background-color: #3f5f91; }
  .ui-datepicker .ui-datepicker-header .ui-corner-all.ui-state-hover:hover {
    text-decoration: none; }

.ui-datepicker .ui-datepicker-calendar {
  width: 100%;
  margin: 0; }
  .ui-datepicker .ui-datepicker-calendar thead th {
    text-transform: capitalize;
    color: #8ea6d4;
    font-weight: 400;
    background-color: #516d9b;
    padding: 12px 5px; }
  .ui-datepicker .ui-datepicker-calendar td a {
    padding: 7px 5px;
    background: 0 0;
    color: #232323;
    border-width: 0;
    text-align: center; }
  .ui-datepicker .ui-datepicker-calendar td a.ui-state-active, .ui-datepicker .ui-datepicker-calendar td a:hover {
    background-color: #516d9b;
    color: #fff; }
  .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a {
    background-color: #e7e7e7; }

.navbar-default, footer {
  background-color: #1f232b;
  color: #FFF; }

footer ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  footer ul a {
    color: #ACACAC;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s; }
    footer ul a:hover {
      color: #FFF;
      text-decoration: none; }

::selection {
  background: #17898E;
  /* WebKit/Blink Browsers */
  color: #fff; }

::-moz-selection {
  background: #17898E;
  /* Gecko Browsers */
  color: #fff; }

body {
  font-family: "Source Sans Pro", "Arial",sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1.2em; }

.navbar-default .navbar-nav li a, .navbar-default li a.navbar-brand {
  color: #FFF; }
  .navbar-default .navbar-nav li a:hover, .navbar-default li a.navbar-brand:hover {
    color: #BEC87A; }

.room_container {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .room_container:hover .img::before {
    top: 0;
    opacity: 1; }
  .room_container img {
    width: 100%; }
  .room_container .img {
    position: relative; }
    .room_container .img::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      bottom: 0;
      opacity: 0;
      background: rgba(52, 74, 113, 0);
      background: -webkit-linear-gradient(top, rgba(52, 74, 113, 0) 0%, rgba(52, 74, 113, 0.5) 100%);
      background: -moz-linear-gradient(top, rgba(52, 74, 113, 0) 0%, rgba(52, 74, 113, 0.5) 100%);
      background: -ms-linear-gradient(top, rgba(52, 74, 113, 0) 0%, rgba(52, 74, 113, 0.5) 100%);
      background: -o-linear-gradient(top, rgba(52, 74, 113, 0) 0%, rgba(52, 74, 113, 0.5) 100%);
      background: linear-gradient(top, rgba(52, 74, 113, 0) 0%, rgba(52, 74, 113, 0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(52, 74, 113, 0)', endColorstr='rgba(52, 74, 113, 0.5)',GradientType=0 );
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      pointer-events: none; }
  .room_container a {
    color: #313131; }
    .room_container a:hover, .room_container a:focus {
      text-decoration: none;
      color: #64686A; }
  .room_container .desc {
    margin-top: 15px; }
    .room_container .desc ul li {
      padding-left: 20px;
      font-size: 14px;
      vertical-align: top;
      color: #232323;
      margin: 3px 0;
      font-weight: 500; }
  .room_container .bot {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    line-height: 3.5em; }
    .room_container .bot .btn {
      border-radius: 0;
      color: #FFF; }
    .room_container .bot .amount {
      color: #333;
      font-weight: 700;
      font-size: 26px;
      margin-left: 10px; }

.room-details .booking {
  background-color: #F1F1F1; }
  .room-details .booking .booking-info {
    text-align: center;
    border-bottom: 1px solid #E4E4E4;
    padding: 20px 30px; }
  .room-details .booking h6, .room-details .booking p {
    margin: 0;
    padding: 0; }
  .room-details .booking .price {
    color: #898989;
    font-size: 18px; }
    .room-details .booking .price .amount {
      font-size: 40px;
      color: #232323;
      font-weight: bold; }
  .room-details .booking .booking-form {
    padding: 0 30px 30px; }
    .room-details .booking .booking-form label {
      display: block;
      margin: 25px 0 10px;
      text-transform: uppercase; }
    .room-details .booking .booking-form .customize-calendar, .room-details .booking .booking-form .customize-select {
      width: 100%; }
    .room-details .booking .booking-form input[type="date"], .room-details .booking .booking-form select {
      border: none;
      line-height: 25px;
      padding: 0 5px; }

.room-detail-tab h6 {
  font-weight: bold; }

.room-compare img {
  width: 100%; }

.room-compare h2 a {
  color: #313131; }

footer {
  margin-top: 30px;
  padding: 10px 0; }
  footer a {
    color: #acacac; }
  footer ul li {
    padding: 5px 0; }
  footer .copyright {
    line-height: 40px; }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */ }
    .container table, .container thead, .container tbody, .container th, .container td, .container tr {
      display: block; }
    .container thead tr {
      display: none; }
    .container tr {
      border: 1px solid #ccc; }
    .container td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%; }
      .container td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap; }
      .container td:nth-of-type(1):before {
        content: "ID"; }
      .container td:nth-of-type(2):before {
        content: "Customer"; }
      .container td:nth-of-type(3):before {
        content: "Room"; }
      .container td:nth-of-type(4):before {
        content: "Number Persons"; }
      .container td:nth-of-type(5):before {
        content: "Arrive Date"; }
      .container td:nth-of-type(6):before {
        content: "Departure Date"; }
      .container td:nth-of-type(7):before {
        content: "Pay"; }
      .container td:nth-of-type(8):before {
        content: "Controls"; } }

.alert {
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center; }

.alertIn, .alertOut {
  -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
  -o-transition: -o-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
  transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1); }

.alertIn.ng-hide-remove, .alertOut.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0px, 0px);
  -moz-transform: translate3d(100px, 0px, 0px);
  -ms-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate3d(100px, 0px, 0px);
  transform: translate3d(100px, 0px, 0px);
  display: block !important; }

.alertOut.ng-hide-add, .alertIn.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px); }
