/* Function Dependencies */
@import 'modules/functions';
/* End Function Dependencies */



.background-login{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white none repeat scroll 0% 0%;
    z-index: 10;
}

#content {
    background: #f9f9f9;
    border: 1px solid #c4c6ca;
    margin: 50px auto 0;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;

    a{
        text-decoration: none;

        &:hover{ text-decoration: underline; }
    }

    form:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    h1 {
        color: #7E7E7E;
        font: bold 25px;
        letter-spacing: -0.05em;
        line-height: 20px;
        margin: 10px 0 30px;

        &:before, &:after{
            content: "";
            height: 1px;
            position: absolute;
            top: 10px;
            width: 27%;
        }

        &:after {
            @include gradient(left, #7E7E7E, #FFF);
            right: 0;
        }

        &:before{
            @include gradient(right, #7E7E7E, #FFF);
            left: 0;
        }
    }
}

#content:after,
#content:before {
    @include gradient(top, #F8F8F8, #F9F9F9);
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}

#content:after {
    @include transform(rotate(2deg));
    top: 0;
    z-index: -1;
}
#content:before {
    @include transform(rotate(-3deg));
    top: 0;
    z-index: -2;
}
#content form { 
    margin: 0 20px;
    position: relative;

    input[type="text"], input[type="password"] {
        @include border-radius(3px);
        @include box-shadow(0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset);
        @include transition(all, 0.5s, ease);
        background: #eae7e7 url("../images/login.png") no-repeat;
        border: 1px solid #c8c8c8;
        color: #777;
        font: 13px;
        margin: 0 0 10px;
        padding: 15px 10px 15px 40px;
        width: 80%;

        &:focus{
            @include box-shadow(0 0 2px #5CB85C inset);
            background-color: #fff;
            border: 1px solid #5CB85C;
            outline: none;
        }
    }

    input[type="submit"] {
        @include gradient(top, #89C403, #77A809);
        @include border-radius(30px);
        @include box-shadow(0 1px 0 rgba(255,255,255,0.8) inset);
        border: 1px solid #74B807;
        color: #FFF;
        cursor: pointer;
        float: left;
        font: bold 15px;
        height: 35px;
        margin: 20px 0 35px 15px;
        position: relative;
        text-shadow: 0 1px 0 #528009;
        width: 120px;

        &:hover{
            @include gradient(top, #77A809, #89C403);
        }
    }

    div a {
        color: #004a80;
        float: right;
        font-size: 12px;
        margin: 30px 15px 0 0;
        text-decoration: underline;
    }
}

#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }