@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600italic,600,700,700italic,900,900italic);
@import "modules/functions";
@import "modules/color";

/*Parital*/
@import "partials/buttons";
@import "partials/tabs";
@import "partials/comments";

/*vendor*/
@import "vendor/camera";
@import "vendor/datepicker";

%class-header-footer{
	background-color: #1f232b;
	color: #FFF;
	// background-color: #5d963f;
}

%ul-list{
	list-style: none;
	margin: 0;
	padding: 0;

	a{
		color: #ACACAC;
		@include transition(all, .2s, ease);
		
		&:hover{
			color: #FFF;
			text-decoration: none;
		}
	}
}



::selection {
  	background: #17898E; /* WebKit/Blink Browsers */
  	color: #fff;
}
::-moz-selection {
  	background: #17898E; /* Gecko Browsers */
  	color: #fff;
}

body{
	font-family: "Source Sans Pro", "Arial",sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 1.2em;
}

// styles.scss
.navbar-default{
	@extend %class-header-footer;

	.navbar-nav li a, li a.navbar-brand{
		color: #FFF;

		&:hover{
			color: $text-hover-default;
		}
	}
}

.room_container{
	@include transition(all, .5s, ease-in-out);

	&:hover .img::before{
		top: 0;
    	opacity: 1;
	}

	img{
		width: 100%;
	}

	.img{
		position: relative;
	

		&::before {
			content: '';
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 50%;
		    bottom: 0;
		    opacity: 0;
		    @include gradient(top, rgba(52,74,113,0), rgba(52,74,113,.5));
		    @include transition(all, .3s, ease-out);
		    pointer-events:none;
		}
	}

	a{
		color: $text-default-heading;

		&:hover, &:focus{
			text-decoration: none;
			color: $text-hover-heading;
		}
	}

	.desc{
		margin-top: 15px;

		ul li{
			padding-left: 20px;
			font-size: 14px;
			vertical-align: top;
			color: #232323;
			margin: 3px 0;
			font-weight: 500;
		}
	}

	.bot{
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4;
		line-height: 3.5em;

		.btn{
			border-radius: 0;
			color: #FFF;
		}		

		.amount{
			color: #333;
			font-weight: 700;
			font-size: 26px;
			margin-left: 10px;
		}
	}
}

.room-details{
	.booking{
		background-color: #F1F1F1;
		
		.booking-info{
			text-align: center;
			border-bottom: 1px solid #E4E4E4;
			padding: 20px 30px;
		}

		h6,p{
			margin:0;
			padding:0;
		}

		.price{
			color: #898989;
			font-size: 18px;

			.amount{
				font-size: 40px;
				color: #232323;
				font-weight: bold;
			}
		}

		.booking-form{
			padding: 0 30px 30px;

			label{
				display: block;
				margin: 25px 0 10px;
				text-transform: uppercase;
			}

			.customize-calendar, .customize-select{
				width: 100%;
			}

			input[type="date"], select{
				border: none;
				line-height: 25px;
				padding: 0 5px;
			}
		}
	}
}

.room-detail-tab{
	h6{
		font-weight: bold;
	}
}

.room-compare{
	img{
		width: 100%;
	}

	h2 a{
		color: $text-default-heading;
	}
}

footer{
	@extend %class-header-footer;
	margin-top: 30px;
	padding: 10px 0;

	a{
		color: #acacac;
	}

	ul{
		@extend %ul-list;

		li{
			padding: 5px 0;
		}
	}

	.copyright{
		line-height: 40px;
	}
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	.container{
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			display: none;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 

			&:before { 
				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: 6px;
				left: 6px;
				width: 45%; 
				padding-right: 10px; 
				white-space: nowrap;
			}

			&:nth-of-type(1):before { content: "ID"; }
			&:nth-of-type(2):before { content: "Customer"; }
			&:nth-of-type(3):before { content: "Room"; }
			&:nth-of-type(4):before { content: "Number Persons"; }
			&:nth-of-type(5):before { content: "Arrive Date"; }
			&:nth-of-type(6):before { content: "Departure Date"; }
			&:nth-of-type(7):before { content: "Pay"; }
			&:nth-of-type(8):before { content: "Controls"; }
		}
	
	}
}

.alert{
	width: 100%;
	position: fixed;
	z-index: 100;
	text-align: center;
}

.alertIn, .alertOut {
    -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -o-transition: -o-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
}
.alertIn.ng-hide-remove, .alertOut.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    @include transform(translate3d(100px, 0px, 0px));
    display: block !important;
}
.alertOut.ng-hide-add, .alertIn.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
    @include transform(translate3d(0px, 0px, 0px));
}