<footer>
	<section id="footer">
		<div class="container">
			<div class="col-md-3">
				<h4>About</h4>
				<a href="javascript:void(0);">siteInspire</a> is a showcase of the finest web and interactive design.
			</div>
			<div class="col-md-3">
				<h4>Latest Websites</h4>
				<ul>
					<li><a href="javascript:void(0);">MIT Technology Review</a></li>
					<li><a href="javascript:void(0);">Syrup Sounds</a></li>
					<li><a href="javascript:void(0);">Uber Brand Experience</a></li>
				</ul>
			</div>
			<div class="links col-md-3">
				<h4>Information</h4>
				<ul>
					<li><a target="_blank" href="javascrip:void(0);">Mailing List</a></li>
					<li><a href="javascript:void(0);">Advertise</a></li>
					<li><a href="javascript:void(0);">Privacy</a></li>
				</ul>
			</div>
			<div class="social col-md-3">
				<h4>Connect with Us</h4>
				<ul>
					<li><a target="_blank" href="javascript:void(0);" class="twitter"><span>Twitter</span></a></li>
					<li><a target="_blank" href="javascript:void(0);" class="facebook"><span>Facebook</span></a></li>
					<li><a target="_blank" href="javascript:void(0);" class="pinterest"><span>Pinterest</span></a></li>
					<li><a target="_blank" href="javascript:void(0);" class="tumblr"><span>Tumblr</span></a></li>
					<li><a target="_blank" href="javascript:void(0);" class="rss"><span>RSS</span></a></li>
					<li><a target="_blank" href="mailto:mail@javascript:void(0);" class="email"><span>Email</span></a></li>
				</ul>
			</div>
		</div>

		<div class="copyright container text-center">
			Copyright © 2016 <a target="_blank" href="javascript:void(0);">Hotels</a> All screenshots © of their respective owners.
		</div>
	</section>
</footer>