<h2 class="room-compare_title">COMPARE ACCOMMODATION</h2>
<div class="list-room-compare">
    <div class="row">
        <!-- ITEM -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="room-compare">
                <div class="img">
                    <a href="#"><img src="images/room-4.jpg" alt=""></a>
                </div>  
            
                <div class="text">
                    <h2><a href="">couple Room</a></h2>
            
                    <ul>
                        <li><i class="hillter-icon-person"></i> Max: 2 Person(s)</li>
                        <li><i class="hillter-icon-bed"></i> Bed: King-size or twin beds</li>
                        <li><i class="hillter-icon-view"></i> View: Ocen</li>
                    </ul>
            
                    <a href="#" class="btn btn-compare">VIEW DETAIL</a>
            
                </div>
            
            </div>
        </div>
        <!-- END / ITEM -->
        
        <!-- ITEM -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="room-compare">
                <div class="img">
                    <a href="#"><img src="images/room-4.jpg" alt=""></a>
                </div>  
            
                <div class="text">
                    <h2><a href="">couple Room</a></h2>
            
                    <ul>
                        <li><i class="hillter-icon-person"></i> Max: 2 Person(s)</li>
                        <li><i class="hillter-icon-bed"></i> Bed: King-size or twin beds</li>
                        <li><i class="hillter-icon-view"></i> View: Ocen</li>
                    </ul>
            
                    <a href="#" class="btn btn-compare">VIEW DETAIL</a>
            
                </div>
            
            </div>
        </div>
        <!-- END / ITEM -->
        
        <!-- ITEM -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="room-compare">
                <div class="img">
                    <a href="#"><img src="images/room-4.jpg" alt=""></a>
                </div>  
            
                <div class="text">
                    <h2><a href="">couple Room</a></h2>
            
                    <ul>
                        <li><i class="hillter-icon-person"></i> Max: 2 Person(s)</li>
                        <li><i class="hillter-icon-bed"></i> Bed: King-size or twin beds</li>
                        <li><i class="hillter-icon-view"></i> View: Ocen</li>
                    </ul>
            
                    <a href="#" class="btn btn-compare">VIEW DETAIL</a>
            
                </div>
            
            </div>
        </div>
        <!-- END / ITEM -->
        
        <!-- ITEM -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="room-compare">
                <div class="img">
                    <a href="#"><img src="images/room-4.jpg" alt=""></a>
                </div>  
            
                <div class="text">
                    <h2><a href="">couple Room</a></h2>
            
                    <ul>
                        <li><i class="hillter-icon-person"></i> Max: 2 Person(s)</li>
                        <li><i class="hillter-icon-bed"></i> Bed: King-size or twin beds</li>
                        <li><i class="hillter-icon-view"></i> View: Ocen</li>
                    </ul>
            
                    <a href="#" class="btn btn-compare">VIEW DETAIL</a>
            
                </div>
            
            </div>
        </div>
        <!-- END / ITEM -->
    </div>

</div>